@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url(cor.css);

/*principal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*principal do cabecalho*/
header {    
    background-image: linear-gradient(to bottom, var(--cor-cabecalho-inicial) 65%,var(--cor-degrade-cabecalho));
    color: var(--cor-letras-link);
    padding: 10px;
    text-align: center;
    
}

/*titulo portifolio*/
header h1{
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    letter-spacing: 5px;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.582);
}


/*titulo bem vindo*/
header h2 {
    text-align: center;
    margin-top: 1em;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.582);
    color: var(--cor-letras);
}


/*cabacalho*/
nav {
    margin-top: 50px;
    margin-bottom: 70px;
    
}


/*botao cabacalho*/
nav a {
    display: inline-block;
    border: 3px solid;
    border-radius: 17px;
    padding: 10px 90px;;
    margin: 10px 10px;
    letter-spacing: 3px;
    font-size: 1.7em;
    font-family: "Bebas Neue", Arial;
    text-decoration: none;
    color: var(--cor-letras);
    background-color: var(--cor-botao-cabecalho);
}

/*movimento dos botões*/
nav a:hover {
    transform: scale(1.1);
    background-color: #9c9c9c30;
}

/*rodapé*/
footer {
    text-align:right;
    width: 100%;
    margin-top: 100px;
    padding: 30px 50px;
    background-color: var(--cor-rodade);
    color: var(--cor-letra-rodape);
}

#contato {
    margin: 10px;
}

.direito {
    letter-spacing: 1px;
}