:root{
    --cor-cabecalho-inicial: #023658;
    --cor-letras-link: #ffffff;
    --cor-botao-cabecalho: #023658;
    --cor-rodade: #333;
    --cor-degrade-cabecalho:rgb(137, 186, 250);
    --cor-card: #023658;
    --cor-fundo-body:rgb(137, 186, 250);
}