:root{
    /*PRINCIPAL*/
    --cor-fundo-body:#a7e0fa;
    --cor-rodade: #00294b;
    --cor-letra-rodape: rgb(255, 255, 255);

    /*CABECALHO*/
    --cor-cabecalho-inicial: #00294b;
    --cor-botao-cabecalho: #00294b;
    --cor-degrade-cabecalho:#aae3fd;

    /*SOBRE MIM*/
    --cor-letras-p: #043c69; /*cor texto sobre mim*/
    --cor-borda-foto:#00294b; /*foto sobre mim*/

    /*GERAL*/
    --cor-card: #00294b;
    --cor-botao-cards:#00294b; /*letras botao dos cards*/
    --cor-fundo-botaop: #ffffff; /*fundo botao dos cards*/
    --cor-letras: #ffffff; /*letras*/
}