@import url(cor.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: var(--cor-fundo-body);
}

main { 
    text-align: center;
    margin-top: 20px;
}

main h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 3.2em;
    color: var(--cor-cabecalho-inicial);
    text-shadow: 4px 3px 8px rgba(255, 255, 255, 0.699);
    margin-bottom: 15px;    
    letter-spacing: 2px;
    font-family: "Bebas Neue", Arial;
}


.sobremim p {
    padding: 10px 80px;
    color: var(--cor-letras-p);
    text-align: left;
    font-size: 1.2em;
    letter-spacing: 1px;
}



.card-curso {
    display: inline-block;
    border-radius: 15px;
    width: 380px;
    height: 430px;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.527);
    background-color: var(--cor-card);
    color: var(--cor-letras-link);
}

.card-curso:hover {
    transform: scale(1.02);
}
.card-curso > img {
    width: 90%;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.card-curso >h3 {
    margin: 1px 10px;
    font-size: 1.5em;
    font-family: "Bebas Neue", Arial;
    letter-spacing: 3px;
}

.card-curso >p {
    text-align: left;
    padding: 10px;
    letter-spacing: 2px;
    color: var(--cor-letras-link);
}

.card-curso-lot {
    display: inline-block;
    border-radius: 15px;
    width: 380px;
    height: 440px;
    text-align: center;
    margin: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.527);
    background-color: var(--cor-card);
    color: var(--cor-letras-link);
    
}

.card-curso-lot:hover {
    transform: scale(1.02);
}

.card-curso-lot > img {
    width: 90%;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.card-curso-lot > h3 {
    margin: 1px 10px;
    font-size: 1.3em;
    font-family: "Bebas Neue", Arial;
    letter-spacing: 4px;
}

.card-curso-lot > p {
    text-align: left;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    color: var(--cor-letras-link);
}




.card-calculadora {
    display:inline-table;
    border-radius: 15px;
    width: 480px;
    height: 340px;
    margin: 20px;
    margin-top: 35px;
    background-color: var(--cor-card);
    color: var(--cor-letras-link);
    
}

.card-calculadora > h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 20px;
    font-family: "Bebas Neue", Arial;
    letter-spacing: 3px;
    
}

.card-calculadora > p {
    text-align: left;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 10px;
    
}



.card-py {
    display:inline-table;
    border-radius: 15px;
    width: 480px;
    height: 385px;
    margin: 20px;
    margin-top: 35px;
    background-color: var(--cor-card);
    color: var(--cor-letras-link);
}

.card-py >h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 20px;
    font-family: "Bebas Neue", Arial;
    letter-spacing: 3px;
}

.card-py > p {
    text-align: left;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 37px ;
}



.card-receitas {
    display:inline-table;
    border-radius: 15px;
    width: 480px;
    height: 380px;
    margin: 20px;
    margin-top: 35px;
    background-color: var(--cor-card);
    color: var(--cor-letras-link);
}

.card-receitas >h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 20px;
    font-family: "Bebas Neue", Arial;
    letter-spacing: 3px;
}

.card-receitas > p {
    text-align: left;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 10px;
}


.botao {
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    padding: 4px 50px;;
    border: 3px;
    margin: 30px ;
    font-family: "Bebas Neue";
    letter-spacing: 3px;
    font-size: 1.2em;
    color: var(--cor-botao-projeto);
    background-color: var(--cor-fundo-botaop);
}

.botao:hover {
    transform: scale(1.10);
}